.login-item-container{
	/*padding: 30px;*/
	width: 100vw;
	position: fixed;
	top:0;
	bottom:0;
	height: 100%;
	display: grid;
	grid-template-columns: 50vw 50vw;
	background-image: url(../images/login-01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-content{
	padding-left: 4.27949vw;
	display: grid;
	grid-template-rows: 6.83% 26% 25% 40%;
}
.login-typing-field-input{
	width: 100%;
	box-sizing: border-box;
	opacity: 0.3;
  border-bottom: 1px solid #9e9e9e;
  background-color: #fff;
  padding: 0.67510vw  0vw;
  line-height: 1.68776vw;
}
.login-content-conainer{
	/*padding-left:  9.98185vw;*/
	padding-left: 6.48vw;
	padding-right: 13.80426vw;
	display: grid;
	grid-template-rows: 41.74% 40.21%;
}
.login-web-title-container{
	padding-left: 7.2vw;
}
.login-web-title{
	/*justify-self:center;*/
	font-size: 5.44464vw;
	color: #333;
	font-weight: 800;
	font-family: Montserrat;
	line-height: 5.90717vw;
}
.login-web-sub-title{
	padding-top: 1.5vw;
}
.login-web-sub-title span{
	font-size:0.92810vw;
	color: #333;
	font-weight: 300;
	font-family: Montserrat;
	display: block;
}
.typing-field-container-top{
  height: 3vw;
	margin-bottom: 17.3%;
}
.typing-field-container-bottom{
	height: 3vw;
	margin-bottom: 12.3%;
}
.resetPassword{
	cursor: pointer;
	margin-left: 22vw;
	font-size:0.84388vw;
	padding-top: 0.84388vw;
	text-align: right;
	color: #333;
	font-weight: 300;
	font-family: Montserrat;
}
.submit-field-container{
	float: right;
	height: 13.1%;
}
.submit{
	width: 10.48722vw;
	/*height: 38px;*/
	height: 2.9vw;
	border-radius: 6.24472vw;
	background-color: #A6937C;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size:0.92810vw;
	transition: all 0.4s ease-in-out;
}
.submit:hover{
	cursor: pointer;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
/* when the label is activated, it jumps up (using translateY) */
        /* you could add animation here as well */
.typing-field-container-top .field-active{
	display: block;
  position:relative;
  left: 0px;
  top: 0px;
  transition: all 150ms ease-in;
  color: #000000;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 0.85vw;
  opacity: 0.8;
}
.typing-field-container-bottom .field-active{
	display: block;
  position:relative;
  left: 0px;
  top: 0px;
  transition: all 150ms ease-in;
  color: #000000;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 0.85vw;
  opacity: 0.8
}
.typing-field-container-top span{
	display: none;
}
.typing-field-container-bottom span{
	display: none;
}
.typing-field-container-top input{
	height: 3vw;
  border-bottom: 1px solid #9e9e9e;
  opacity: 0.3;
}
.typing-field-container-bottom input{
	height: 3vw;
  border-bottom: 1px solid #9e9e9e;
  opacity: 0.3;
}
::placeholder{
  color: #000000;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 0.9vw;
  opacity: 0.8
}
.floating-label {
  -webkit-appearance: none !important;
 }
